form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}
form .info{
    width: 100%;
}
form .form-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
form .form-row label{
    font-weight: bold;
    margin-bottom: 0.3rem;
}
form .form-row input[type="text"],
form .form-row input[type="date"],
form .form-row input[type="time"],
form textarea{
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    font-size: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}
form .form-row input:disabled{
    color: var(--lightgrey);
}
form .form-row input[type="text"]:focus,
form .form-row input[type="date"]:focus,
form select:focus,
form .form-row input[type="time"]:focus,
form textarea:focus{
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}
form input[type="checkbox"]{
    accent-color: var(--primary-color);
}
form select{
    padding: 0.5rem;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 4px;
    font-size: 100%;
}
form select option{
    background-color: var(--bg-color);
    color: var(--text-color);
}
form textarea{
    min-height: 100px;
    resize: vertical;
}
form button[type="submit"]{
    width: fit-content;
    padding: 0.7rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 100%;
    cursor: pointer;
    transition: background-color .3s;
}

/* file drop */
#drop-zone {
    flex-direction: column;
    max-width: 100%;
    height: 200px;
    padding: 1em;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    color: var(--lightgrey);
    background-color: var(--shadow-white);
    cursor: pointer;
    font-size: 130%;
    transition: all .3s;
}
#first-text{
    flex-direction: column;
    transform: translateY(50px);
}
#drop-zone .material-symbols-outlined {
    font-size: 300%;
    margin-bottom: 1.5rem;
}
#drop-zone:hover{
    color: var(--text-color);
}
#file-input,
button#clear-btn,
#drop-zone.has-preview > #first-text {
    display: none;
}
button#clear-btn{
    align-items: center;
    background: none;
    border: none;
    color: var(--lightgrey);
    cursor: pointer;
    flex-direction: column;
    opacity: 0;
    display: inline-flex;
    transition: all .3s;
    font-weight: bold;
}
#drop-zone.has-preview:hover > button#clear-btn {
    margin-top: 1rem;
    opacity: 1;
}
button#clear-btn:hover {
    color: red;
}