h3{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500 bold;
    font-size: 1.2rem;
}
p.info{
    color: var(--lightgrey);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    font-weight: normal;
}
.infotext{
    opacity: 0;
    transition: opacity 0.3s;
}
p.info:hover .infotext{
    opacity: 1;
}
.file-drop-zone{
    border: 2px dashed var(--shadow-color);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: background-color 0.3s, border-color 0.3s;
}
.file-drop-zone:hover{
    background-color: var(--lightgrey);
    border-color: var(--primary-color);
}
.file-drop-zone p{
    margin-top: 1rem;
    font-size: 1rem;
}
.file-drop-zone span.material-symbols-outlined{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-right: 5px;
}
details[open] > summary .material-symbols-outlined{
    transform: rotate(180deg);
    transition: all 0.3s;
}
details > summary {
    list-style: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    user-select: none;
    display: flex;
    justify-content: space-between;
}
details[open]{
    height: auto;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}
details > summary::-webkit-details-marker {
    display: none;
}
#tabicon-list,
#logos-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}
.tabicon-item:nth-child(1){
    border-radius: 5px;
    border: 1px solid var(--lightgrey);
}
.tabicon-item{
    padding: 0.5rem;
    max-width: 5rem;
    height: 5rem;
    border: 1px solid var(--bg-color);
}
.logos-item{
    padding: 0.5rem;
    max-width: 10rem;
    height: 5rem;
    border: 1px solid var(--bg-color);
    border-radius: 5px;
}
.bildname{
    font-size: 0.9rem;
    margin: 0.8rem 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabicon-item p{
    margin: 0;
}
.dimensions{
    font-size: 1rem;
    color: var(--lightgrey);
}
.date{
    font-size: 0.8rem;
    color: var(--lightgrey);
}
form{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
input[type="text"]{
    width: 75%;
    padding: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
}
button{
    width: auto;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
}