#member-output-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 110%;
}
#member-output button{
    background: none;
    border: none;
    color: var(--lightgrey);
    cursor: pointer;
    transition: all .2s;
    font-size: 120%;
    padding: 0;
    transition: all .2s;
}
#member-output-heading span{
    color: var(--lightgrey);
}
#member-output-heading button:hover{
    color: var(--text-color);
}
:not(.role).member{
    width: 100%;
    border-bottom: 1px solid var(--lightgrey);
    padding: 10px 0;
    background-color: var(--bg-color);
}
.member > .member-bottom,
.member > .member-bottom .left,
.member > .member-bottom .right{
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    border: none;
}
.member.open > .member-bottom,
.member.open > .member-bottom .left,
.member.open > .member-bottom .right{
    height: max-content;
}
.member.open{
    padding-bottom: 3rem;
}
.member:last-child{
    border-bottom: none;
}
.member .member-top,
.member .member-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#member-output .edit-button:hover{
    color: var(--text-color);
}
.ganzer-name{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    gap: 10px;
}
.role,
.status{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    padding: 7px 15px;
    border-radius: 25px;
    min-height: 2rem;
    cursor: default;
    user-select: none;
}
.role.admin{
    background-color: var(--orange);
}
.role.vorstand,
.status.aktiv{
    background-color: var(--success-color);
}
.role.member{
    background-color: var(--lightgrey);
}
.role.hidden{
    visibility: hidden;
}
.role-symbol,
.status-symbol{
    font-size: 20px;
    margin-right: 8px;
}
.role-text{
    font-size: 110%;
    color: var(--text-color);
}

/* Member - Bottom */
.left,
.right{
    width: 50%;
}
.left{
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.address{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-size: 120%;
    margin-right: 2rem;
}
.member-bottom{
    border-top: 1px solid var(--shadow-color);
    padding-top: 10px;
    overflow: hidden;
}
span.material-symbols-outlined{
    font-size: 24px;
    margin-right: 8px;
}