.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#img{
    width: 45%;
}
#text{
    width: 55%;
}
.contrast{
    color: var(--primary-color);
}
h1{
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
}
.button{
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}