html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main {
    flex: 1 1 auto;
}
#footer{
    background-color: var(--shadow-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    font-size: 90%;
    height: 5rem;
}
#footer #left,
#footer #middle,
#footer #right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20%;
    height: 100%;
}
#footer #left,
#footer #middle{
    border-right: 1px solid var(--bg-color);
}
#footer #middle{
    font-size: 80%;
}
#footer a{
    color: var(--text-color);
    transition: all 0.2s;
}
#footer a:hover{
    text-decoration: underline;
}
#footer .material-symbols-outlined{
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 0.2rem;
}
#mode-toggle{
    display: flex;
    align-items: center;
    gap: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--primary-color);
}
input:checked + .slider:before {
    transform: translateX(20px);
}
#footer-gif{
    position: relative;
    left: 20px;
    bottom: 70px;
    width: 100px;
    height: auto;
    border-radius: 50px;
    background-image: radial-gradient(var(--shadow-white), #ffffff00 60%);
}
@media (max-width: 900px) {
    #footer{
        gap: 1rem;
    }
    #footer #left, 
    #footer #middle, 
    #footer #right{
        width: 30%;
        border-right: none;
    }   
    #footer-gif{
        left: 0;
        bottom: 80px;
        width: 80px;
        position: fixed;
        z-index: 15;
    }
}