#veranstaltungen{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.event{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--shadow-color);
    max-height: 5rem;
}
.flex-column{
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.name{
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h2.name,
h4.date{
    margin: 0;
}
.description{
    font-weight: normal;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.days-left{
    color: var(--lightgrey);
    font-weight: normal;
    width: 10%;
    text-align: right;
}
.line{
    display: none;
}

@media (max-width: 1500px){
    a span.text{
        display: none;
    }
    
    .description{
        display: none;
    }
    .flex-column{
        width: 60%;
    }
    .event h2.name{
        width: 100%;
    }
    .event h4.days-left{
        width: 30%;
        margin-left: auto;
        margin-right: 1rem;
    }
    .more-info{
        width: 10%;
    }
}