html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url('../images/gras.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 30%;
    min-height: 300px;
    display: flex;
    align-items: center;
    z-index: 2;
    color: white;
    text-shadow: var(--shadow);
    font-size: 200%;
    padding-left: 15%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
::selection{
    background: var(--primary-color);
    color: white;
}
#main{
    width: 50%;
    margin-inline: auto;
    margin-top: 5rem;
}
.section{
    font-size: 120%;
    margin-bottom: 5rem;
    line-height: 1.6;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--shadow-color);
}
.section:last-child{
    border-bottom: none;
}
.section a.button{
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    width: 14rem;
    user-select: none;
}
.section a.button:hover span{
    transform: translateX(5px);
    transition: transform 0.3s;   
}
.einrück{
    margin-left: 2rem;
}
#cookie-banner{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: none;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    max-width: 800px;
    transition: transform 1s ease-in-out;
}
#cookie-text a{
    color: var(--primary-color);
    text-decoration: underline;
}
#cookie-text button{
    margin-top: 1.5rem;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#cookie-img{
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}
.event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--shadow-color);
    padding: 10px;
    margin-bottom: 10px;
}
.event:last-child{
    border-bottom: none;
    margin-bottom: 2rem;
}
.event span.event-title{
    font-weight: bold;
    font-size: 120%;
    width: 45%;
}
.event span.date{
    width: 25%;
    text-align: right;
}
.event span.location{
    width: 30%;
    text-align: right;
}
.event a{
    color: var(--primary-color);
    transition: filter 0.2s;
    width: 10%;
    text-align: right;
    vertical-align: middle;
}
.event a:hover{
    filter: drop-shadow(0 0 5px var(--primary-color));
}
.missing{
    color: red;
    font-style: italic;
}
.numbering{
    color: var(--primary-color);
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea{
    padding: 5px 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    font-size: 110%;
    outline: none;
    transition: all .2s;
    background-color: var(--lightgrey);
    color: var(--text-color);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus{
    border-color: var(--primary-color);
    outline: none;
}
form a{
    color: var(--primary-color);
    text-decoration: underline;
}
form .stern{
    color: red;
    margin-right: 2px;
}
button.submit{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 110%;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}
@media screen and (max-width: 900px) {
    #main{
        width: 90%;
        margin-top: 3rem;
    }
    .section{
        font-size: 110%;
        margin-bottom: 3rem;
    }
    .banner{
        font-size: 150%;
        background-position: 50% 20%;
        max-height: 200px;
        padding-left: 5%;
    }
    #cookie-banner{
        flex-direction: column;
        bottom: 10px;
        right: 10px;
        padding: 10px;
        max-width: 90%;
        filter: var(--shadow);
    }
    #cookie-img{
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }
    .einrück{
        margin-left: 1rem;
    }
    .event span.event-title{
        font-size: 100%;
        width: 50%;
    }
    .event span.location{
        display: none;
    }
    .event span.date{
        width: 40%;
    }
    .event a{
        width: 15%;
    }
}